In [2]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_excel('Practical (2).xlsx')

In [7]:
df.head()

,food_name,date_added,date_modified,total_sales & online_sales,approved
0,succotash,2019-07-17 00:00:00,2019-10-16 00:00:00,2488 (1634),1.0
1,entree,2018-08-27 00:00:00,2019-12-24 00:00:00,2801 (496),1.0
2,lychee,2018-12-24 00:00:00,2019-11-04 00:00:00,2706 (474),1.0
3,cashew,2018-11-04 00:00:00,2019-01-23 00:00:00,788 (2535),1.0
4,millet,2019-05-09 00:00:00,2019-06-04 00:00:00,4931 (3637),1.0

In [11]:
df.isnull().sum()

food_name                     1
date_added                    1
date_modified                 1
total_sales & online_sales    0
approved                      1
dtype: int64

In [12]:
df.select_dtypes(["object"]).head()

,food_name,date_added,date_modified,total_sales & online_sales
0,succotash,2019-07-17 00:00:00,2019-10-16 00:00:00,2488 (1634)
1,entree,2018-08-27 00:00:00,2019-12-24 00:00:00,2801 (496)
2,lychee,2018-12-24 00:00:00,2019-11-04 00:00:00,2706 (474)
3,cashew,2018-11-04 00:00:00,2019-01-23 00:00:00,788 (2535)
4,millet,2019-05-09 00:00:00,2019-06-04 00:00:00,4931 (3637)

In [8]:
z_scores = np.abs((df['food_name'] - df['food_name'].mean()) / df['food_name'].std())

outliers = df[z_scores > 3]
print(outliers)

TypeError: can only concatenate str (not "int") to str